* { margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

/*html */
header, section, aside, nav, article, figure, main { display: block;}

body {
    background-color: #999;
    font-family: 'Lato';
    color: #fff;
    display: block;

}

p {
    font-family: 'Lato', 'Sans-serif';
    font-size: 16px;
    color: rgb(202, 93, 138);
    font-weight: 500;
}

a, a:visited {
   text-decoration: none;
}

h2 {
    color: #777;
    font-family: 'Lato';
    font-size: 22px;
    margin-bottom: 10px;
}

header {
    text-align: center;
    background-color: rgb(202, 93, 138);
    background-size: cover;
    color: #fff;
    padding-top: 10px;
}

.header-image{
   padding: 20px 0;

}

ul {
    padding: 10px;
    background: rgb(206, 8, 91);
}

li {
    display: inline;
    padding: 0 10px;
    list-style: none;
}

.nav {
    font-family: 'Lato';
    font-weight: 300;
}

.nav li a {
    color: #fff;
}

.intro{
    padding-bottom: 20px;
}

/*contact form*/
#contact-form {
    width: 400px;
    background-color: #ffffff;
    margin: 0px auto;
    padding: 40px 40px 35px 40px;
    border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 5px 5px;
  }
  
  input[type="text"] {
      display: inline;
      width: 400px;
      font-size: 14px;
      background-color:rgb(223, 158, 198);
      font-family: 'Lato';
      color: white;
      padding: 5px 0px 5px 10px;
      margin: 5px 0px 5px 0px;
      border-radius: 3px;
      -moz-border-radius: 5px;
  }
  
  .inputfield {
    padding-top: 10px;
    font-weight: 400;
  }
  
  ::-webkit-input-placeholder {
    color: white;
    font-weight: 300;
  }
  
  input[type="submit"]{
      display: inline;
      width: 410px;
      font-size: 14px;
      background-color:#999;
      color: #fff;
      padding: 10px 0px;
      margin: 10px 0px 0px 0px;
      border-radius: 3px;
      -moz-border-radius: 5px;
  }
  
  input[type="submit"]:hover {
      background-color:#777;
  }
  
  textarea {
      display: inline;
      width: 400px;
      max-width: 400px;
      height: 100px;
      max-height: 300px;
      -size: 14px;
      background-color: rgb(223, 158, 198);
      font-family: 'Lato';
      color:#fff;
      padding: 5px 0px 5px 10px;
      margin: 5px 0px 0px 0px;
      border-radius: 3px;
      -moz-border-radius: 5px;
  }
  
  /* Footer */
  footer {
      text-align: center;
  }
  
  .footer {
      
      font-size: 12px;
      margin-left: auto;
      margin-right: auto;
      clear: both;
      color: #fff;
      padding: 40px 0;
  }

